<div class=".device-details-extra-info-container">
  <mat-table [dataSource]="extraInfos">
    <!-- ExtraInfo -->
    <ng-container matColumnDef="extraInfo">
      <mat-header-cell *matHeaderCellDef fxFlex="500px"> Extra Info </mat-header-cell>
      <mat-cell *matCellDef="let extraInfo" fxFlex="500px">
        <ng-container *ngIf="extraInfo">
          {{ extraInfo }}
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="empty" *ngIf="extraInfos?.length === 0">
    No device extra infos found.
  </div>
</div>
