[Unit]
Description=MTT Daemon

[Service]
Type=simple
ExecStart=/var/lib/mtt/mtt --log_file=/var/log/mtt/mtt.log -v daemon /var/lib/mtt/mtt_host_config.yaml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
